<!DOCTYPE html>
<html>
    <head> 
        <title>Universal-Approximation</title>
    </head>
    <body>
        <h1>Universal Approximation</h1>
        <p>This project demonstrates the Universal Approximation Theorem using neural networks to approximate various continuous functions. Implemented using PyTorch, the project showcases how neural networks can approximate functions like 
            sin(x), exp(x), and composite functions such as exp(x) + x - x**2.</p>
            <form action="/train" method="GET">
                <button type="submit">Train Your Model</button>
            </form>
            
    </body>
</html>